
body {
  background-color: #EAF6F6;
}


 hr {
    background-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    width: 5%;
}
h2 {
            border: 2px solid chartreuse;
            padding: 25px;
        }
